# Dart/Pub related files
.dart_tool/
.packages
build/
.pub-cache/
pubspec.lock

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter/
.ios/
.android/
.metadata

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Generated.xcconfig
*.mode1v3
*.pbxuser
*.xcworkspace

# Android
android/.gradle/
android/.idea/
android/app/*.iml
android/*/local.properties
android/app/proguard-rules.pro
android/gradle.properties
*.log
android/key.properties

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/.vs/
windows/.idea/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies

# Web
web/.dart_tool/

# Linux
linux/flutter/generated_plugin_registrant.cc

# MacOS
macos/Flutter/ephemeral/

# Firebase related
firebase_app_id_file.json

# Miscellaneous
*.iml
*.hprof
*.log
*.gz
*.lock
*.tmp
*.swp
*.DS_Store
*.class
.idea/
*.idea/
*.vscode/
*.orig

# Ignore Android Studio project files
*.iml
.idea/
*.ipr
*.iws

# JetBrains IDE files
*.idea/
*.name
*.swp

# dotenv files
.env
.env.*

.fake